.App {
  text-align: center;
  min-height: 100vh;
  position: relative;
}

.main_body {
  min-height: 80vh;
  margin-bottom: 50px;
  margin-top: 60px;
}

@media (max-width: 768px) {
  .main_body {
    margin-top: 85px;
  }
}

h6.title {
  color: #fff;
  letter-spacing: 1px;
  text-decoration-line: underline;
}

.footer ul {
  list-style-type: none;
  padding: 0;
}

.footer ul li a {
  color: #fff;
  font-size: 14px;
  letter-spacing: 0.5px;
}
